.calculatorBody{
    margin-top: 100px;
    border: 2px solid black;
    width: 300px;
    margin-left: 400px;
    height: 250px;
}

.dialPad{
    margin-top: 10px;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
}
.numPad{
    height: 200px;
    width: 180px;
   
}